<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dojo Survey Assignment</title>
    <link rel="stylesheet"
    8href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
  </head>
  <body>
    <div class="container">
      <h1>Dojo Survey</h1>
      <form action="/process" method="post">
        <div class = "row">
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              {% for message in messages %}
                <p>{{message}}</p>
              {% endfor %}
            {% endif %}
          {% endwith %}
          Your Name: <input id='name' type = 'text' name = 'name'>
          Dojo Location:<select name="location">
              <option value="silicon_valley">Silicon Valley</option>
              <option value="seattle">Seattle</option>
              <option value="los_angeles">Los Angeles</option>
              <option value="dallas">Dallas</option>
              <option value="dc">Washington, DC</option>
              <option value="chicago">Chicago</option>
              <option value="tulsa">Tulsa</option>
          </select>
        </div>
        <div class = "row">
          Favorite Language:<select name="language">
              <option value="java_script">Java Script</option>
              <option value="python">Python</option>
              <option value="c_sharp">C#</option>
              <option value="c">C</option>
              <option value="all">All</option>
            </select>
        </div>
        <div class = "row">
          Comment: (optional) <textarea name="comment" id="comment"></textarea>
        </div>
        <input type='submit' value='submit'>

      </form>
    </div>
  </body>
</html>
