<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Registration Form Assignment</title>
    <link rel="stylesheet"
    8href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
  </head>
  <body>
    <h1>Register Here!</h1>
    <h2>AKA give info...still get chastised for it...</h2>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <p>{{message}}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}
    {%if test == False%}
    <form action="/process" method="post">
      First Name: <input class = 'row' id='fname' type = 'text' name = 'fname' value = ''>
      Last Name: <input class = 'row' id='lname' type = 'text' name = 'lname' value = "">
      Email: <input class = 'row' id='email' type = 'email' name = 'email' value = "">
      Password: <input class = 'row' id='password' type = 'password' name = 'password' value = "">
      Confirm Password: <input id='confirmpw' type= 'password' name = 'confirmpw' value = "">
      <input class = 'row' type="submit" name="submit" value="submit">
    </form>
    {%endif%}
    {%if test == True%}
    <form action="/process" method="post">
      First Name: <input class = 'row' id='fname' type = 'text' name = 'fname' value = '{{fname}}'>
      Last Name: <input class = 'row' id='lname' type = 'text' name = 'lname' value = "{{lname}}">
      Email: <input class = 'row' id='email' type = 'email' name = 'email' value = "{{email}}">
      Password: <input class = 'row' id='password' type = 'password' name = 'password' value = "">
      Confirm Password: <input id='confirmpw' type= 'password' name = 'confirmpw' value = "">
      <input class = 'row' type="submit" name="submit" value="submit">
    </form>
    {%endif%}
  </body>
</html>
